
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: table;}
.item4 { grid-area: main; }
.item5 { grid-area: picture; }
.item6 { grid-area: Comment; }
.item7 { grid-area: header2;}
.item8 { grid-area: table2;}
.item9 { grid-area: main2;}
.item10 { grid-area: picture2;}
.item11 { grid-area: Comment2;}

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header2 header2 header2 header2'
  'menu menu menu menu menu menu menu menu'
  'table table picture picture table2 table2 picture2 picture2'
  'main main main main main2 main2 main2 main2 '
  'Comment Comment Comment Comment Comment2 Comment2 Comment2 Comment2';
  grid-gap: 10px;
  padding: 10px;
}

/*codes item1/7 - header*/

.item1 h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(247, 247, 247);
    }
.item1 h3 {
    text-align: center;
    font-size: 24px;
    background-color: rgb(247, 247, 247);
}
.item7 h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(247, 247, 247);
    }
.item7 h3 {
    text-align: center;
    font-size: 24px;
    background-color: rgb(247, 247, 247);
}

/*codes item2 - navigation bar*/
.item2{
    background-color: rgba(212, 182, 182, 0.87);
}
.item2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.item2 li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: initial;
    font-style: oblique;
    text-align: left;
    
}
.item2 a {
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 20px;
    display: block;
    width: 60px;

}
.item2 a:hover {
    background-color: rgb(148, 46, 46);
    width: max-content;
}
.active {
    background-color: rgba(184, 109, 109, 0.986);
    min-width: 110px;
}

/*codes for item3/8 - table*/
.item3 {
    background-color: rgb(247, 247, 247);
}
.item3 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}
.item8 {
    background-color: rgb(247, 247, 247);
}
.item8 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

/*codes item4/9 - main*/
.item4 p {
    text-align: left;
    background-color: rgb(247, 247, 247);
}
.item9 p {
    text-align: left;
    background-color: rgb(247, 247, 247);
}

/*codes for item5/10 - picture*/
.item5 {
    size: 100% 100%;
    display: block;
    margin-left: none;
    margin-right: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.item10 {
    size: 100% 100%;
    display: block;
    margin-left: none;
    margin-right: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

/*codes for item6/11 - comments*/
.item6 {
    text-align: center;
}
.item6 {
    text-align: center;
}


@media only screen and (min-width:500px) {
    .grid-container {
        display: grid;
        grid-template-areas:
        'header header header header header2 header2 header2 header2'
        'menu menu menu menu menu menu menu menu'
        'table table picture picture table2 table2 picture2 picture2'
        'main main main main main2 main2 main2 main2 '
        'Comment Comment Comment Comment Comment2 Comment2 Comment2 Comment2';
        grid-gap: 10px;
        padding: 10px;
      }
}

@media only screen and (max-width:500px) {
    .grid-container {
        display: grid;
        grid-template-areas:
        'header'
        'menu'
        'picture'
        'table'
        'main'
        'Comment'
        'header2'
        'picture2'
        'main2'
        'Comment2';
        grid-gap: 10px;
        padding: 10px;
      }
}


