.content {
  max-width: 500px;
  margin: auto;
  background-color: lightgray;
  opacity: 0.7;
}

/* Style the navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content 
  .content {
    padding: 16px;
  }*/
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) 
  .sticky + .content {
    padding-top: 60px;
  } */

  /*adding a background image*/
  .bg-image {
    background-image: url("img/karte_schweiz_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .item1 { grid-area: header; }
  .item7 {grid-area: picture2;}
  .item3 { grid-area: table;}
  .item4 { grid-area: main; }
  .item5 { grid-area: picture; }
  .item6 { grid-area: footer; }

  
  @media only screen and (min-width:600px) {
    .grid-container {
        display: grid;
        grid-template-areas:
        'header header picture2'
        'table table table'
        'picture picture picture'
        'main main main'
        'footer footer footer';
        grid-gap: 10px;
        padding: 10px;
    }
    .content {
        max-width: 500px;
        margin: auto;
        background-color: lightgray;
        opacity: 0.7;
        font-family: 'Times New Roman', Times, serif;
      }
}

@media only screen and (max-width:600px) {
    .grid-container {
        display: grid;
        grid-template-areas:
        'header'
        'table'
        'picture'
        'main'
        'footer';
        grid-gap: 10px;
        padding: 10px;
    }
    .content {
        max-width: 500px;
        margin: auto;
        background-color: lightgray;
        opacity: 0.7;
        font-family: 'Times New Roman', Times, serif;
      }
}