.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: table;}
.item4 { grid-area: main; }
.item5 { grid-area: picture; }
.item6 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header header'
  'menu table table table table picture picture'
  'menu main main main main main main '
  'footer footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}


.item1 h1 {
  text-align: center;
  font-size: 40px;
  background-color: rgb(247, 247, 247);
  }
.item1 h3 {
  text-align: center;
  font-size: 24px;
  background-color: rgb(247, 247, 247);
}

/* cdes for item2 - navigation bar*/

.item2{
    background-color: rgba(212, 182, 182, 0.87);
    width: 250px;
}

.item2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.item2 li {
  list-style-type: none;
  margin: 0 2vw;
  font-size: initial;
  font-style: oblique;
  text-align: left;
  
}
.item2 a {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 20px;
  display: block;
  width: 60px;

}
.item2 a:hover {
  background-color: rgb(148, 46, 46);
  width: max-content;
}
.active {
  background-color: rgba(184, 109, 109, 0.986);
  min-width: 110px;
}

/*codes for item3 - table*/
.item3 {
  background-color: rgb(247, 247, 247);
}
.item3 {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

.item4 p {
  text-align: left;
  background-color: rgb(247, 247, 247);
}

/*codes for item5 - picture*/
.item5 {
  size: 75% 75%;
  display: block;
  margin-left: none;
  margin-right: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

/*Button of Javascript effect*/
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgba(255, 246, 246, 0.993);
  background-color: rgb(71, 69, 71);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

/*animation*/
/*.animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgb(148, 46, 46);
}
.container {
  width:200px;
  height:200px;
  position: relative;
}*/

@media only screen and (min-width:1000px) {
    .grid-container {
      background-color: peru ;
        display: grid;
        grid-template-areas:
        'header header header header header header header'
        'menu table table table picture picture picture'
        'menu main main main picture picture picture '
        'footer footer footer footer footer footer footer';
        grid-gap: 10px;
        padding: 10px;
    }
    .container {
      background: peru;
      width: 200px;
      height: 200px;
      position: relative;
    }
    .animate {
      width: 50px;
      height: 50px;
      position: absolute;
      background-color: rgb(148, 46, 46); 
    }
}

@media only screen and (min-width:800px) and (max-width:1000px) {
  .grid-container {
    background-color: powderblue;
    display: grid;
    grid-template-areas: 
    'header header'
    'menu table'
    'menu picture'
    'menu main'
    'footer';
    grid-gap: 10px;
    padding: 10px;
  }
  .container {
    background: powderblue;
    width:200px;
    height:200px;
    position: relative;
  }
  .animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(148, 46, 46); 
  }
}

@media only screen and (min-width:500px) and (max-width:800px) {
    .grid-container {
      background-color: palegoldenrod;
        display: grid;
        grid-template-areas:
        'header header'
        'menu table'
        'picture picture'
        'main main'
        'footer footer';
        grid-gap: 10px;
        padding: 10px;
      }
      .container {
        background: palegoldenrod;
        width:200px;
        height:200px;
        position: relative;
      }
      .animate {
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: rgb(148, 46, 46); 
      }
    }


@media only screen and (max-width:500px) {
  .grid-container{
    background-color: peachpuff;
    display: grid;
    grid-template-areas: 
    'header'
    'menu'
    'table'
    'picture'
    'main'
    'footer';
    grid-gap: 10px;
    padding: 10px;
  }
  .container {
    background: peachpuff;
    width:200px;
    height:200px;
    position: relative;
  }
  .animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(148, 46, 46); 
  }
}

