body {
}


.karte_schweiz {
    size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.schweiz {
    text-align: center;
    text-shadow: whitesmoke;
}
.schweiz_1_1 {
    text-align: center;
}
.schweiz_1_2 {
    text-align: center;
}

.index_schwyz.html {
    
}
 .tierpark_goldau {
    size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
 }
 .tierpark {
    text-align: center;
    text-shadow: whitesmoke;
 }
.tierpark_1_1 {
    text-align: center;
}

.index_tessin.html {
   
}
.swiss_miniatur_0 {
    size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;  
}

.swiss_miniatur {
    text-align: center;
}
.swiss_miniatur_1_1 {
    text-align: center;
}


.bruno_weber_0 {
    size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.bruno_weber {
    text-align: center;
}
.bruno_weber_1_1 {
    text-align: center;
}



 }
 h2 { 
     text-align: center;
 }
 p {
    text-align: center;
 }
 h3 {
     text-align: center;
     text-underline-position: above;
 }
 li {
     text-align: center;
 }


 <!-- herausfinden, wie man Hintergrundfarben/Bilder individuell auf html Seiten anpasst. --> 